
.top-line{
    display: flex;
    flex-direction: column;
    min-height: 412px;
    background: url('../../../img/reviews-page-bg-up.png') no-repeat top;
    padding-bottom: 22px;
}
.page__title{
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 40px;
}
.breadcrumbs__list{
    display: flex;
    color: #9A9A9A;
    align-items: center;
}

.breadcrumbs__item:after{
    content: "/";
    padding: 0 5px 0 2px;
}
.breadcrumbs__item:last-child:after{
    display: none;
    padding: 0;
}

.breadcrumbs__link{
    text-decoration: underline;
    font-size: 14px;
   
}
.breadcrumbs__link--active{
    font-weight: 700;

}