
.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.partners__item{
    width: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 49px;
    margin-left: -10px
}

.partners__link{
    filter: grayscale(100);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.partners__link:hover{
    filter: none;
}