.reviews{
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 50px;
}
.reviews__item{
    margin-bottom: 15px;
}
.review{
    display: inline-flex;
    flex-direction: column;
    background: #F4F5F5;
    padding: 50px 30px;
    border-radius: 5px;
}
.review__header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.review__photo{
    margin-right: 20px;
}
.review__user{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: #1A1B1E;
    transition: color .3s;
    margin-bottom: 10px;
}
.review__user::after{
    content: url("../../../img/users/vk.png");
    height: 29px;
    margin-left: 5px;
}
.review__user:hover{
    color: #4d86a1;
}

.review__tags{
    display: flex;
    align-items: flex-start;
}

.review__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 13px;
    color: #1A1B1E;
}
.review__content-text{
    color: #818181;
    margin-bottom: 50px;
    line-height: 1.64;
}

.review__date{
    font-weight: 600;
    font-size: 14px;
    color: #1A1B1E;
}

