
.footer{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-container__content{
    border-top: 1px solid #353538;
    height: 120px;
    padding-top: 25px;
}
.menu__footer{
     margin-left: 60px;
}
.socials{
    margin-left: 40px;
}
.socials__item{
    display: inline-flex;
    margin-right: 6px;
}
.socials__item:last-child{
    margin-right: 0;
}

.socials__link{
    width: 36px;
    height: 36px;
    background: center / center no-repeat;
}

.socials__item--tg .socials__link{
    background-image: url(../../img/telegram.png) ;
}
.socials__item--tg .socials__link:hover{
    background-image: url(../../img/telegram-hover.png) ;
}
.socials__item--vk .socials__link{
    background-image: url(../../img/vk.png) ;
}
.socials__item--vk .socials__link:hover{
    background-image: url(../../img/vk-hover.png) ;
}
.socials__item--fb .socials__link{
    background-image: url(../../img/facebook.png);
}
.socials__item--fb .socials__link:hover{
    background-image: url(../../img/facebook-hover.png);
}
.socials__item--inst .socials__link{
    background-image: url(../../img/inst.png);
}.socials__item--inst .socials__link:hover{
    background-image: url(../../img/inst-hover.png);
}
