.pager{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pager--theme--light{
    color: #000;
}
.pager--theme--light .pager__item--active{
    color: #FFF;
}
.pager--theme--light .pager__item:hover{
    color: #FFF;
}

.pager__list{
    display: flex;
    align-items: center;
}
.pager__display{
    margin-right: 25px;
}

.pager__item{
    text-align: center;
}

.pager__item--active .pager__link{
    background: #8F00FF;
    transition: background .3s, color .3s;
}
.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
    line-height: 32px;
    transition: background .5s, color .5s;
}
.pager__link:hover{
    background: #8F00FF;
}