.pager{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pager__list{
    display: flex;
    align-items: center;
}
.pager__display{
    margin-right: 25px;
}

.pager__item{
    text-align: center;
}

.pager__item--active .pager__link{
    background: #8F00FF;
}
.pager__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
    line-height: 32px;
}
.pager__link:hover{
    background: #8F00FF;
}