
.news__item{
    min-height: 449px;
    background: #FFF;
    border-radius: 7px;
    display: inline-block;
    width: 362px;
    margin-right: 22px;
}

.news__item:last-child{
    margin-right: 0;
}
.news__header{
    min-height: 144px;
}

.news__content{
    padding: 27px 20px;
    color: #000;
}
.news__title{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 19px;
}
.news__info{
    color: #666666;
    margin-bottom: 25px;
    line-height: 1.8;
}
.news__icon--time{
    background-image: url(../../img/clock.png);
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 7px;
    margin-left: 6px;
}
.news__info--time{
    display: inline-block;
    margin-right: 51px;
}
.news__icon--qa{
    background-image: url(../../img/qa.png);
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}
.news__info--qa{
    display: inline-block;
}

.news__desc{
    font-size: 14px;
    color: #303030;
    margin-bottom: 41px;
}

.news__watch--btn{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #8F00FF;
    border: 1px solid #8F00FF;
    padding: 18px 29px;
    border-radius: 5px;
}
.news__watch--btn:hover{
    background: #8F00FF;
    color: #FFF;
    /* border: none; */
}